body {
  background-image: url("img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0px;
  z-index: -1;
  position: relative;
  height: 100%;
  background-size: 100%;
}
a{
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 20px 25px;
  font-size: 16px;
  font-weight: 600;
}

/* Change the link color to #111 (black) on hover */
li a:hover{
  background-color: #03d7fc;
}
li a.home:active{
  background-color: #03d7fc;
}
.big-text{
  background-color: #000;
  position:absolute;
  z-index: 1;
  opacity: 0.5;
  height: 120%;
  width: 100%;
}

.txt {
    z-index: 3;
    position: relative;
    color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    padding-top: 100px;
}
.foot {
    display: flex;
    position: absolute;
    z-index: 4;
    color: white;
    font-size: 16px;
    line-height: 1.2;
    padding: 10px;
    background-color: #000;
    margin-top: 180px;
}
.foot-about h3 {
    font-size: 22px;
}
.foot-about.foot-child {
    flex: 75%;
}

.foot-child.contact-us {
    flex: 25%;
    padding-left: 60px;
}

.foot-child.contact-us a{
  display: block;
}

.reg-type h4 {
    font-size: 20px;
}

.reg-type {
    background-color: white;
    width: 500px;
    margin-left: 430px;
    color: black;
    padding: 20px;
    padding-top: 1px;
    margin-top: 0;
}

.reg-type a {
    display: inline-block;
    color: black;
    font-size: 22px;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 10px 25px;
}

.reg-type a:hover {
    background-color: #ddd;
    transition: 0.1s;
}

.reg-type a:active {
    background-color: #ddd;
}

.user-reg {
    background: white;
    width: 475px;
    margin-left: 430px;
    color: black;
}



.user-reg label {
    display: block;
    font-size: 20px;
    text-align: left;
}

.user-reg input {
    display: block;
    width: 355px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    margin-top: 5px;
    margin-bottom: 15px;
}

.user-reg {
    padding-left: 65px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    padding-bottom: 15px ;
}
user-reg input[type="submit"] {
    border-radius: 50px;
}

.user-reg input[type="submit"] {
    background: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.user-reg input[type="submit"]:hover {
    background-color: #ddd;
    transition: 0.1s;
}
/* #admin-reg-id{
  position: fixed;
  visibility: hidden;
  z-index: -10;
} */
#pharmacy-reg-id{
  position:fixed;
  visibility: hidden;
  z-index: -10;
}
#userbtn{
  background-color: #ddd;
}

.reg-type button {
    background: none;
    border: 1px solid #ddd;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 18px;
}

.reg-type button:hover {
    background: #ddd;
    transition: 0.1s;
}

h4.reg-mes {
  background: #ddd;
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 890px;
  margin-left: 600px;
  position: absolute;
  z-index: 35;
}

.products {
    background: white;
    color: #000;
}

.products-tilte {
    font-size: 30px;
    padding-top: 1px;
    display:inline-block;
}

.product-row {
    justify-content: center;
    margin-top:40px;
}

.single-product {
    height: 435px;
    width: 30%;
    border: 1px solid #ddd;
    margin: 15px;
    box-shadow: 2px 2px 5px #ddd;
    border-radius: 5px;
    font-size: 15px;
    display:inline-block;
}

.single-product img {
    height: 250px;
    width: 100%;
    vertical-align: middle;
    border:1px solid #ddd;
}

.single-product h4.price {margin: 0px;padding: 0px;font-size: 18px;color: #038527;font-weight: 700;margin-bottom: 8px;}

.single-product h3.product-tile {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}


a.buy {
    display: block;
    border: 1px solid #ddd;
    padding: 10px;
    width: 270px;
    background: #5607f5;
    border-radius: 5px;
    margin-left: 65px;
    margin-top: 8px;
}

a.more-info {color: #061994;font-size: 18px;}
a.buy:hover {
  background: #000;
  transition: 0.1s;
}

#user-reg-id.user-reg{
    visibility: hidden;
    z-index: -10;
    position: absolute;
}
img.location_img {
    height: 30px;
    width: 30px;
}

a.more-info {
    display: block;
}

.single-product {
    height: 510px;
}
img.rating_img {
    height: 35px;
    width: 35px;
    display: inline-block;
    margin-top: -18px;
}img.rating_img {}

img {
    border: none !important;
    vertical-align: middle !important;
    padding: 0px;
    margin: 0px;
}

span.location {
    font-size: 18px;
}

sapn.rating {
    font-size: 30px;
}
img.shop_icon {
    height: 35px;
    width: 35px;
    display: inline-block;
    margin-top: -10px;
}img.shop_icon {}

span.shop_name {
    font-size: 19px;
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
}
span.blank {
    width: 100px;
    display: inline-block;
}

.search_section {
    display: inline-block;
    margin-left: 175px;
}

.search_section label {
    font-size: 25px;
}

.search_section {}

select#loc {
    border: 1px solid #ddd;
    padding: 7px 15px;
}

.search_section option {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.search_section input[type="submit"] {
    border: 1px solid #ddd;
    background: #ddd;
    padding: 7px 15px;
}

form {}form {}

.serach_med {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.serach_med input[type="text"] {
    padding: 8px 5px;
    border: 1px solid #ddd;
    width: 230px;
}

.serach_med input[type="submit"] {
    background: #ddd;
    border: none;
    border: 1px solid #ddd;
    padding: 8px 30px;
}
.search_section input[type="text"] {
    padding: 8px 5px;
    border: 1px solid #ddd;
}

a.browse_review {
    color: blue;
    font-size: 20px;
    display: block;
}
.review-row {}.review-row {}

.single-review {
    display: inline-block;
    background: white;
    color: black;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 40%;
}

.single-review sapn.rating {
    font-size: 50px;
}

p {}

.single-review p {
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 10px 10px;
    margin: 0px 30px;
}

h3.product-tile {
    display: inline-block;
}h3.product-tile {}

img.avl {
    display: inline-block;
    height: 60px;
    width: 55px;
    padding-left: 50px;
    padding-right: 5px;
}

span.stck {
    font-size: 20px;
    color: #038527;
    font-weight: 600;
}